body {
  background-color: lavender;
}

h1, p {
  text-align: center;
  font-family: Verdana, serif;
}

hr {
  height: 2px;
  background-color: rgba(150, 50, 150, 0.5);
  border-color: rgba(150, 50, 150, 0.5);
}

form {
  width: 500px;
  min-width: 300px;
  margin: auto;
  border: 7px solid rgba(150, 50, 150, 0.5);
}

fieldset {
  border-width: 0;
  padding: 20px;
  font-family: Helvetica;
}

input {
  margin: 5px;
  width: 200px;
}

#title {
  font-weight: 100px;
}

#description {
  font-weight: 100px;
  margin-bottom: 25px;
}

#name {
  position:relative;
  left: 185px;
  border-color: rgba(150, 50, 150, 0.2)
}

#email{
  position:relative;
  left: 103px;
  border-color: rgba(150, 50, 150, 0.2)
}

#number {
  position:relative;
  left: 100px;
  border-color: rgba(150, 50, 150, 0.2)
}

#age {
  position:relative;
  left: 197px;
  border-color: rgba(150, 50, 150, 0.2)
}

#submit {
  width: 490px;
  background-color:white;
  border-color: rgba(150, 50, 150, 0.2);
}

#dropdown {
  position:relative;
  left: 65px;
  width: 200px;
  border-color: rgba(150, 50, 150, 0.2)
}

#txt {
  position:relative;
  left: 155px;
  width: 200px;
  border-color: rgba(150, 50, 150, 0.2)
}

#UG, #GD, #MS, #tc, #nl, #pp {
  width: 20px;
}

